{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" type='text/css'
            href="{% static 'style.css'}">
</head>
<body>
    <center>
        <h1 class="title"> Web Development </h1>
        <h2><strong> 12 Eco Lifestyle </strong></h2>
    </center>
    <ol>
        <h3><li> Pilah Sampah </li></h3>
        <button> About </button> 
        <h3><li> Mengurangi volume sampah </li></h3>
        <h3><li> Hemat air </li></h3>
        <h3><li> Menggunakan barang refillable </li></h3>
        <h3><li> Membangun kesadaran publik </li></h3>
        <h3><li> Sayangi makhluk hidup </li></h3>
        <h3><li> Berwawasan lingkungan</li> </h3>
        <button> About </button> 
        <h3><li> 3R : Reduce, Reuse, Recycle </li></h3>
        <button> About </button> 
        <h3><li> Bijak berkendara</li></h3>
        <h3><li> Matikan listrik bila tidak digunakan</li></h3>
        <h3><li> Pilih alat elektronik hemat energi</li></h3>
        <h3><li> Kurangi Penggunaan plastik</li></h3>
        <button> About </button> 
    </ol>
</body>
</html>