<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kurangi Penggunaan Plastik</title>
</head>
<body>
    <center>
        <h1> This page is still under construction! </h1>
        <img src="https://i.pinimg.com/736x/d5/d8/e6/d5d8e60c5065ca104968965952b44a26.jpg" width="200" height="200"> 
        <h1></h1>
        <button> Back to Homepage </button>
    </center>
</body>
</html>